body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    color: rgb(133, 130, 130);
}

.flex {
    display: flex;
}

.box-shadow {
    box-shadow: 10px 10px 10px 10px grey;
    margin: 50px;
    padding: 5px 25px;
    width: 40%;
    border-radius: 15px;
    border-left: 5px solid crimson;
}

footer {
    background-color: rgb(9, 9, 39);
    text-align: center;
    font-size: 15px;
    padding: 40px 0px;
}

.hw {
    width: 50%;
    margin-left: 50px;
    margin-right: 50px;

}

.hw img {
    width: 100%;
}

.as {
    margin-left: 50px;
    font-size: 20px;
}